{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "component": "./component",
          "screen": "./screen"
        }
      }
    ]
  ]
}
