.App {
  padding-left: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  align-items: center;
}

.container {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

#left-side {
  display: block;
  position: fixed;
  width: 72px;
  height: 100%;
  left: 0;
  background-color: white;
}

.left-container {
}

#content {
  display: inline-block;
  width: 100%;
  background-color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
